{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 Chrome version",
          "last 2 firefox version"
        ]
      }
    }]
  ],
  "plugins": ["transform-object-rest-spread"]
}
