.menu-wrapper {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  overflow: scroll;

  .menu {
    display: flex;
    padding: 10px 0;
  }

  .character-wrapper {
    background-color: #f9f9f9;
    padding: 12px 0;
    margin: 0 4px;
    border-radius: 5px;
  }

  .image-box {
    overflow: hidden;
    margin: 0 auto;
    width: 128px;
    height: 128px;
    transform: scale(0.85);
    transition: transform 0.2s ease-out;

    .unknown {
      font-family: Pixel;
      font-size: 250px;
      line-height: 65px;
      text-align: center;
    }

    &:hover {
      transform: scale(1);
      cursor: pointer;
    }
  }

  ul.copy {
    font-size: 14px;
    text-align: center;

    li {
      padding-bottom: 2px;
    }

    .pricetag {
      button {
        padding: 2px;
      }
    }

    .name {}

    .owner {
      text-overflow: ellipsis;
      width: 8ch;
      margin: 0 auto;
      overflow: hidden;

      &:hover {
        cursor: text;
      }
    }
  }

  img {
    width: 256px;
    height: 256px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
}
